/tests
/.settings
/.buildpath
/.project
/composer.phar
/composer.lock
/vendor
/logs
/public_html/fipe.php
/public_html/imports/
/public_html/media/
/docs/data-modeling.mwb.bak
/src/config/local.config.php