html, body {
	margin: 0;
	height: 100%;
	position: relative;
	font-size: 13px;
}
html > body {
	height: auto;
	min-height: 100%;
}
footer {
	position:absolute;
	left: 0;
	bottom: 0;
	padding: 0 !important;
	margin: 0;
	width: 100%;
	text-align: right;
}
footer hr {
	margin-top: 0;
	margin-bottom: 10px;
}
#main {
	position: relative;
    padding: 45px 0 55px 0;
}
#navbar .brand {
  	padding-right: 0;
  	padding-left: 0;
  	font-weight: bold;
  	color: #62B400;
  	text-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(255,255,255,.125);
  	-webkit-transition: all .2s linear;
       -moz-transition: all .2s linear;
          	transition: all .2s linear;
}
#navbar .brand:hover {
  	text-decoration: none;
  	text-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(255,255,255,.4);
 	color: #fff;
}
#navbar .brand sup {
	font-size: 10px;
}
#toolbar .btn-group {
	
}
.label-required:after,
.tab-error:after {
    color: #E5476F;
    content: " *";
    font-weight: bold;
}
#notice-filter {
	margin-top: 100px;
	clear: both;
}
.form-inline > * {
	margin: 0 5px;
}
h1 > small, 
h2 > small,
h3 > small,
h4 > small,
h5 > small,
h6 > small {
	margin: 0 10px;
}
.alert em {
	border-bottom: 1px dotted #999999;
}
form,
.table {
	margin: 0;
}
.pagination {
	margin: 20px 0 10px 0;
}
.text-left {
	text-align: left !important;
}
.text-center {
	text-align: center !important;
}
.text-right {
	text-align: right !important;
}
.btn [class^="ui-icon-"],
.btn [class*=" ui-icon-"],
.btn [class^="icon-"],
.btn [class*=" icon-"] {
	margin-right: 5px;
}
.btn-icon-only [class^="ui-icon-"],
.btn-icon-only [class*=" ui-icon-"],
.btn-icon-only [class^="icon-"],
.btn-icon-only [class*=" icon-"] {
	margin-right: 0;
}
.tree-label {
	padding: 2px 4px;
}
.tree li .hitarea {
	top: 4px;
}
.tree-label.loading {
	padding-right: 30px;
}
.tree-label.loading:hover .btn {
	display: none !important;
}
.tree-hover.expandable > .tree-label {
	background: #f2f2f2;
}
.tree-selected {
	display: none;
}
.tree-selected * {
	visibility: hidden;
}
.tree-helper {
	background: #fff !important;
	border: 1px solid #ccc;
	padding: 7px 7px 7px 35px;
}
.tree-hover > ul > .tree-selected,
.tree-placeholder {
	display: block !important;
	background: url("/images/tree-placeholder.png") 5px 0 no-repeat !important;
	margin: 3px 0 !important;
	height: 8px;
}
#administrative-unit-list > li > .tree-label:hover {
	background-color: #fff !important;
}
#breadcrumb {
	margin: 0;
}
#option-submit, #option-cancel {
	margin: 4px 0;
}
#option-cancel {
	margin-left: 10px !important;
}
#option-input .controls {
	margin-left: 0;
}
#product-new-form .controls, 
#product-category-new-form .controls {
	margin-left: 0;
}
#attribute_chosen .chosen-results {
	max-height: 100px;
}
.controls-row > * {
	margin-left: 30px !important; 
}
.controls-row > .dropdown-menu {
	margin-left: 0 !important; 
}
.controls-row > label {
	padding-top: 5px;
}
.controls-row > *:first-child {
	margin-left: 0 !important;
}
.controls-row > [class*="span"] {
    margin-left: 30px;
}
.well {
	background: #fff;
	overflow: hidden;
}
fieldset > legend {
	margin-bottom: 10px;
	font-size: 17px;
	line-height: 38px;
}
.icon-loading {
	background: url('../images/loading.gif') no-repeat;
	width: 16px;
	height: 16px;
	line-height: 16px;
	margin-left: 5px;
}
#chosen-category .btn-group + .btn-group {
	margin-left: 20px;
}
#panel-query {
	padding-bottom: 15px;
	border-bottom: 1px solid #CCC; 
}
.pagination-mini {
	margin-top: 10px;
}